/* CSS resets */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    }

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Navigation bar: Logo and Image */
#logo{
    margin: 10px 10px;
}
#logo img{
    margin: 3px 6px;
    height: 60px;
}

/* Navigation bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    display: flex;
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url(../img/background/1.jpg) no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 675px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
 }
 #home h1{
     color: white;
     text-align: center;
     font-family: 'Bree Serif', serif;
 }
 #home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    /* font-family: sans-serif; */
    font-family: 'Bree Serif', serif;
}

/* service section */
#services-container{
    background:url(../img/background/7.jpg) no-repeat center center/cover;
}
    #services{
        /* margin: 0px; */
        display: flex;
    }
    #services .box{
        border: 2px solid brown;
        padding: 34px;
        margin: 2px 40px;
        border-radius: 28px;
        background: #f2f2f2;
        margin-bottom: 20px;

    }
    #services .box img{
        height: 156px;
        margin: auto;
        display: block;
        border: 2px solid peachpuff;
        border-radius: 10px;

    }
    #services .box p{
        font-family: 'Bree Serif', serif;
    
    }
    
    
    
    
    /* Clients Section */
    #client-section{
        height: 344px;
        position: relative;
        
    }
    #client-section::before{
        content: "";
        position: absolute;
        background: url(../img/background/6.jpg) no-repeat center center/cover;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.50;
        
    }
    #client{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #client-item{
        padding: 34px;
    }
    #client img{
        height: 150px;
        border: 0.5px solid white;
        border-radius: 15px;
    }
    
    
    
    
    /* Contact section */
    #contact{
        position: relative;
    }
    #contact::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        background:url(../img/background/contact.jpg) no-repeat center center/cover;
    }
    #conatct-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }
    #conatct-box input,
     #conatct-box textarea{
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    }
    #conatct-box form{
        width: 40%;
    }
    #conatct-box label{
        font-size: 1.3rem;
        font-family: 'Bree Serif', serif;
    }

    /* footer */
    footer{
        background-color: black;
        color: white;
        padding: 9px 20px;
    }
 /* Utility classes */

 .h-primary{
     font-size: 3.8rem;
     padding: 20px;
     font-family:'Bree Serif', serif; 
 }
 
 .h-secondary{
    font-size: 2.3rem;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}
 .btn{
     padding: 6px 20px;
     border: 2px solid white;
     background-color: rgb(146, 97, 33);
     margin: 17px;
     font-size: 1.5rem;
     border-radius: 10px;
     font-family: 'Bree Serif', serif;
     cursor: pointer;
 }
.center{
    text-align: center;
}
.submit{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(83, 80, 75);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    align-items: center;
}



